.card-text {
    font-size: .8rem;
    margin-bottom: 0px;
}

.selectAddressButton {
    padding: 2px;
    font-size: .8rem;
    margin-top: 4px;
}

.selectAddressButton:active {
    background-color: rgb(38, 38, 214);
}